.fundo {
    background-image: linear-gradient(360deg, black, rgb(130, 28, 189));
    height: 100vh;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    text-align: center;
    
}

.calculadora {
    position: absolute;
    background-color: rgb(0, 0, 0); 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

button {
   width: 50px;
   height: 50px;
   font-size: 25px;
   cursor: pointer;
   background-color:rgb(51, 51, 51);
   color: white;
   border:none;
   margin: 3px;
   border-radius: 5px;
}

button:hover{
    background-color: rgb(149, 149, 149);

}

.igual{
    height: 106px ;
}

.zero{
    width: 106px;
}

#resultado{
    width: 225px;
    background-color: rgb(42, 65, 32);
    height: 30px;
    margin: 5px;
    color: black;
    font-size: 25px;
    text-align: right;
}

.img {
    left: 65px;
    position: relative;
    align-items: center;    
    width: 100px;
    height: 50px;
    background-image: url(../src/img/vb_logo-removebg-preview.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}